
<div *ngIf = "loading==true" class="spinner-border text-primary" role="status">
  <span class="visually-hidden"></span>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Kategori</th>
        <th scope="col">Ürün Adı</th>
        <th scope="col">Fiyatı</th>
        <th scope="col">Stok Adedi</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <th scope="row">{{product.id}}</th>
        <td>{{product.categoryId}}</td>
        <td>{{product.name}}</td>
        <td>{{product.unitPrice}}</td>
        <td>{{product.unitsInStock}}</td>
        <td><button (click)="addToCart(product)" class="btn btn-success">Sepete ekle</button></td>
      </tr>
    </tbody>
  </table>